/* reset browser preset styling  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navigation bar */

nav ul a {
  text-decoration: none;
}

nav ul a:hover {
  text-decoration: underline;
}

nav .logo {
  font-size: 40px;
  color: white;
  font-family: "Brush Script MT", cursive;
  font-weight: lighter;
  line-height: 80px;
  padding-left: 30px;
}
nav {
  background-color: rgb(38, 92, 75);
  color: white;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
}
/* hamburger menu */
nav ul {
  position: fixed;
  width: 60%;
  /* height: 80%; */
  background: rgb(38, 92, 75);
  right: -100%;
  text-align: center;
  transition: all 0.5s;
  /* padding-top: 40px; */
}

nav ul li {
  display: block;
  margin: 50px 0;
  line-height: 5px;
  /* margin-top: 40px; */
}

nav ul li a {
  color: white;
  padding: 7px 13px;
  border-radius: 3px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: block;
}

#check {
  display: none;
}

#check:checked ~ ul {
  right: 0;
}
/* hero section */

.hero {
  text-align: center;
  padding: 100px 20px;
  color: black;
}
.hero #picture {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 30px;
  color: rgb(34, 26, 19);
  margin-bottom: 50px;
}
/* download cv button */
#cv_button,
#hire-me {
  /* display: inline-block; */
  padding: 15px 25px;
  background-color: rgb(38, 92, 75);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin: 10px;
}

#cv_button:hover,
#hire-me:hover {
  transform: scale(0.9);
}
/* about section */
#about {
  padding: 50px 20px;
  background-color: rgb(213, 236, 230);
}
#about h2 {
  text-align: center;
  color: rgb(38, 92, 75);
  padding-bottom: 20px;
  padding-top: 50px;
  font-size: 30px;
}
#about p {
  font-size: 20px;
  text-align: center;
  color: black;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* skills section */
#skills {
  background-color: rgb(213, 236, 230);
  padding: 60px 20px;
}
#skills h2 {
  text-align: center;
  color: rgb(38, 92, 75);
  padding-bottom: 20px;
  padding-top: 40px;
  font-size: 30px;
  margin-bottom: 30px;
}
.skills-container {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}
.skill {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(14, 13, 13, 0.2);
  margin: 10px;
  flex: 1 1 200px; /* Flex properties for responsiveness */
  display: flex;

  flex-direction: column;
  align-items: center;
}

#lang,
#technologies,
#tools,
#dev {
  padding: 20px 70px;
  border-radius: 20px;
  border: 2px solid rgb(145, 142, 142); /* Creates a red border of 2px width */
}
.skills-container h3 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
  color: rgb(38, 92, 75);
}
.skills-container li {
  font-size: 20px;
  line-height: 50px;
}

/* services section */
#services {
  padding-bottom: 30px;
  /* background-color: rgb(88, 154, 141); */
}
#services h2 {
  padding: 30px 0;
  text-align: center;
  color: rgb(38, 92, 75);
  font-size: 30px;
  padding-top: 80px;
}
#services ul {
  text-align: center;
  border: 2px solid rgb(145, 142, 142);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(14, 13, 13, 0.2);
}
#services .service-list {
  padding: 0 20px;
}
#services li {
  padding: 10px;
  list-style: none;
  font-size: 20px;
  color: black;
}
/* projects section */
#projects {
  background-color: rgb(213, 236, 230);
}
#projects h2 {
  color: rgb(38, 92, 75);
  text-align: center;
  padding-top: 80px;
  font-size: 30px;
}
#projects h3 {
  text-align: center;
  padding: 10px;
  color: rgb(38, 92, 75);
}
#projects p {
  line-height: 20px;
  text-align: center;
  padding: 0 20px;
}
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

#piggame,
#guess,
#modal,
#pharmacy {
  background-color: white;
  justify-content: center;
  border-radius: 25px;
  border: 2px solid rgb(145, 142, 142);
  padding: 10px;
  margin: 10px;
}
.projects-container img {
  padding-top: 20px;
  width: 250px;
  height: 200px;

  border-radius: 45px;
  margin: 0 auto;
  display: block;
  justify-content: center;
}

#projects .control {
  display: flex;
  justify-content: center;
}

#projects #github,
#demo {
  display: inline-block;
  padding: 10px 20px;

  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  margin: 10px 10px;
}
#projects #github,
#demo {
  background-color: rgb(38, 92, 75);
}

#projects #github:hover,
#demo:hover {
  background-color: rgb(213, 236, 230);
  color: black;
}
#projects #demo:hover {
  background-color: rgb(213, 236, 230);
  color: black;
}

/* contact section */
#contact {
  text-align: center;
  padding: 20px;
  background-color: rgb(176, 231, 220);
  color: black;
}
#contact p {
  font-size: 18px;
  margin: 20px 0;
}
#contact h2 {
  font-size: 30px;
  margin-top: 50px;
  color: rgb(38, 92, 75);
}

#contact a {
  text-decoration: none;
  color: #110e0e;
  font-size: 24px;
  margin: 0 10px;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 50px 40px 40px;
}
#contact form label {
  font-size: 18px;
  text-align: left;
}
#contact form input,
#contact form textarea {
  padding: 10px 12px;
  border-radius: 4px;
}
#contact form button {
  background-color: #110e0e;
  color: cornsilk;
  border: none;
  padding: 5px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}
/* ------------footer---------- */
.footer {
  background-color: rgb(38, 92, 75);
  color: #fff;
  padding: 20px;
  font-size: 14px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-left,
.footer-center {
  margin-bottom: 20px;
}

.footer-left h3,
.footer-center h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

/* .social-icons {
  display: flex;
} */

.social-icons a {
  color: #fff;
  font-size: 22px;
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #3b3a3a;
  margin-top: 20px;
}
